@{
    ViewBag.Title = "Skidresorter";
}

<body>

    <div class="wrapper">

        <h2>Skidresorter</h2>
        <h3>Frankrike</h3>
        <p>Hotel Chalet Mounier, Les Deux-Alpes</p>
        <p>Hotel Avenue Lodge, Val-d’Isère</p>
        <p>Cristallo Hotel Spa & Golf, Cortina d’Ampezzo</p>
        <p>Hotel Le Hameau Albert 1er, Chamonix-Mont-Blanc</p>
        <p>Grand Hotel Europa, Innsbruck</p>
    </div>

</body>

