
@{
    ViewBag.Title = "Clubs";
}

<body>

    <div class="wrapper">

        <h2>Barer/ Nattklubbar</h2>
        <h3>Strömpis</h3>
        <p>
            Vi arrangerar gärna din fest hos oss oavsett om ni är 30 eller 300 personer. Våra lokaler har alla tänkbara möjligheter som passar för företagsfester, konferenser, födelsedagar, möhippor, studentfester.
            <br />
            <br />
            +46 72 33 99 400
            <br />
            info@villastrompis.se 
            <br />
            STRÖMPARTERREN, 703 61, ÖREBRO
        </p>
        <h3>Ritz</h3>
        <p>
            Det klassiska varmbadhuset i Örebro byggdes 1899 och togs ur drift 1986. September 2009 slogs portarna upp igen men den här gången hade simbassänger och hopptorn byts ut mot dansgolv och glamour, en ny era var född: RITZ.
            Med en storslagen lokal och en atmosfär som för tankarna till dom allra bästa klubbarna på Ibiza, Miami och St tropez, så var det upplagt för succé.
            <br />
            <br />
            019-103020
            <br />
            info@ritznightclub.se
            <br />
            KYRKOGATAN 2, 702 10, ÖREBRO
        </p>
        <h3>Satin</h3>
        <p>
            ...
        </p>

    </div>

</body>

