@{
    ViewBag.Title = "Ski Scrape";
}

<body>



    <div class="wrapper">
       


        @for (int i = 0; i < ViewBag.antal; i++)
        {

            <div class="col span_1_of_2 imgCont centerImg">
                @*<a href="@ViewBag.link[i]" rel="lightbox" data-lightbox="image-1">
                        <img src="@ViewBag.link[i]" />
                    </a>*@
                <a id="singleImg" href="@ViewBag.link[i]"><img src="@ViewBag.link[i]" alt="" /></a>


            </div>
        }
    </div>







</body>