@{
    ViewBag.Title = "Vimmel Örebro";
}

<body>

    <div class="wrapper">

        @for (int i = 0; i < ViewBag.antal; i++)
        {

            <div class="col span_1_of_2 imgCont centerImg">

                <img src="@ViewBag.link[i]" />
            </div>
        }
    </div>







</body>