@{
    ViewBag.Title = "Vimmel Örebro";
}

<body>

    <div class="wrapper">
        <h2></h2>
        <div class="section group">

            <div class="centerImg imgCont">

            </div>
            <p class="text-center imgText">Villa Strömpis</p>
            
        </div>

        @*<div class="section group">
            <div class="col span_1_of_3 imgCont">
            </div>
            <div class="col span_1_of_3 imgCont">

            </div>
            <div class="col span_1_of_3 imgCont">

            </div>

        </div>*@



    </div>

</body>