body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: white !important;
    border-color: rgba(160, 160, 160, 0.37) !important;
}

a {
    transition: .2s;
    color: black !important;
}

    a:hover {
        transition: .2s;
        color: rgba(0, 0, 0, 0.50) !important;
    }

.wrapper {
    width: 1100px;
    margin: 0 auto;
}

.imgCont {
    background-color: white;
    border-radius: 2px;
        border: solid #FFFFFF 8px;
    box-shadow: black 0px 16px 50px -19px;
}

.centerImg {
    width: 80%;
    margin: 0 auto;
}

.imgText {
    font-size: 1.8em;
    color: darkslategrey;
    margin: 15px;
}
img
{
    margin: 0 auto;
    width: 100%;
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

    .col:first-child {
        margin-left: 0;
    }

/*  GROUPING  */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 */
}

/*  GRID OF TWO  */
.span_2_of_2 {
    width: 100%;
}

.span_1_of_2 {
    width: 49.2%;
}

/*  GRID OF THREE  */
.span_3_of_3 {
    width: 100%;
}

.span_2_of_3 {
    width: 66.13%;
}

.span_1_of_3 {
    width: 32.26%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */

@media only screen and (max-width: 800px) {
    .col {
        margin: 1% 0 1% 0%;
    }

    .span_3_of_3, .span_2_of_3, .span_1_of_3 {
        width: 100%;
    }

    .span_2_of_2, .span_1_of_2 {
        width: 100%;
    }

    .wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {

    .wrapper {
        width: 100%;
    }
}
